
body{
    color: azure; 
    height: 100%;
    background-size: cover;
    background-image: url(../images/hd-pacman.jpg);
    background-repeat: no-repeat;
}
main{
    align-items: center;
    flex-direction: column;
    display: flex;
}
a{
    background-color: black;
    text-decoration: underline;
    color: aliceblue;
}
ul li{
    padding: 8px;
}
footer{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: pink;
}


