/*GRACIAS DIOS, MAMÁ, PAPÁ Y TODAS LAS PERSONAS QUE HACEN ESTO POSIBLE COMO MIS MAYORES INVERSORES. Dios NOS BENDIGA.*/

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body#mm{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    color: azure; 
    background-size: cover;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
}
main{
    align-items: center;
    flex-direction: column;
    display: flex;
}
div.principal{
    flex: 1;
}
h1.name{
    color: wheat;
}
A{
    cursor: pointer;
}
h2{
    text-decoration: underline;
    background-color: white;
    color: blue;
   
}
li.imgrr{
    list-style: none;
}
ul.rr{
    display: flex;
    justify-content: center;
}
nav{
    margin-top: 1em;
}
nav a{
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a.nav:hover{
    background-color: gray;
    color: blue;
}
li{
    color: pink;
}
li a{
    background-color: blue;
    color: pink;

}
p.labor{
    color: wheat;
    text-decoration: underline;
    font-weight: bold;
 
}
a.Nenl{
    font-size: 2.10em;
    font-weight: bold;
    background-color: cornflowerblue;
    text-decoration: underline;
    color: gainsboro;
}
a.Nenl:hover{
    color: azure;
}
ul li{
    padding: 4px;
}
footer{
    width: 100%;
    margin-top: 1em;
    font-size: 2.2em;
    background-color: blUE;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: PINK;
 }


 /*COOKIES-START*/


.fondo-aviso-cookies{
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top:0;
	left: 0;
}
.fondo-aviso-cookies.activo{
	display: block;
}
.aviso-cookies{
	display: none;
	background: #F2F3F4;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	border: 3px solid blue;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 55px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}
.aviso-cookies.activo{
	display: block;
}

.aviso-cookies .galletag{
	max-width: 100px;
	position: absolute;
	top:-50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulog{
    color: blue;
	margin-bottom: 15px;
}
.aviso-cookies .parrafog{
    font-size:  1.2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
	margin-bottom: 15px;
}
.aviso-cookies .botong{
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	text-decoration: underline;
	padding: 15px 20px;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .botong:hover{
	background: black;
}
.aviso-cookies .enlaceg{
    font-size: 1ems;
	color: blue;
	text-decoration: none;

}

.aviso-cookies .enlaceg:hover{
	text-decoration: underline;
}
/*RESPONSIVE START*/

@media screen and (max-width: 435px){
	.aviso-cookies{
	display: none;
	background: #F2F3F4;
	width: calc(100% - 40px);
	max-width: 200px;
	line-height: 150%;
	border-radius: 10px;
	border: 3px solid blue;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
   }
   .aviso-cookies .galletag{
    	top:-110px;    
    }
   b.mom{
	padding: 2px;
	text-decoration: underline;
	border-radius: 4px;
	color: white;
	background-color: #444DDE;
	font-size: 1.1em;
}
}

 /*RESPONSIVE END*/

 /*COOKIES-END*/


 /*RESPONSIVE*/

@media screen and (max-width: 572px){
body#mm{
   color: azure; 
   background-size: cover;
   background-image: url(../images/hd-pacman-XR.jpg);
   background-repeat: no-repeat;
}
img.CEOn{
    width: 200px;
    height: 200px;
}
h2.enl{
    text-decoration: underline;
    color: blue;
  
}
li a{
    background-color: blue;
    color: pink;
}
p.labor{
    text-decoration: underline;
    font-weight: bold;
}
a.Nenl{
    background-color: black;
    text-decoration: underline;
    color: aliceblue;
}
nav{
    font-size: 1.2;
}
a.Nenl{
    font-size: 1.5em;
    text-decoration: underline;
    color: white;
}
img.iconr{
    width: 25px;
    height: 25px;
}
ul li{
    padding: 4px;
}
footer{
    margin-top: 1em;
    justify-content: center;
    font-size: 1.4em;
    background-color: blue;
    color: white;
 }
}
  /*RESPONSIVE END*/
