html{
    min-height: 100vh;
}
body{
    color: azure; 
    background-size: cover;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
}
main{
    align-items: center;
    flex-direction: column;
    display: flex;
}
h1{
    color: wheat;
   
}
h2{
    text-decoration: underline;
    background-color: white;
    color: blue;
   
}
nav{
    margin-top: 200px;
}
nav a{
    margin-top: 10px;
    background-color: aquamarine;
    color: purple;
    font-size: 1.3em;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a.navv:hover{
    color: black;
    cursor: pointer;
}
li{
    color: pink;
}
li a{
    background-color: blue;
    color: pink;

}
p{
    color: wheat;
    text-decoration: underline;
    font-weight: bold;
 
}
a.Nenl{
    font-size: 2.10em;
    font-weight: bold;
    background-color: palevioletred;
    text-decoration: underline;
    color: blue;
}
a.Nenl:hover{
    color: azure;
}
ul li{
    padding: 4px;
}
footer{
    margin-top: 20%;
    font-size: 2em;
    background-color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: whitesmoke;
 }
 /*RESPONSIVE START*/

@media screen and (max-width: 572px){
body{
   color: azure; 
   background-size: cover;
   background-image: url(../images/hd-pacman-XR.jpg);
   background-repeat: no-repeat;
}   

img{
    width: 200px;
    height: 200px;
}
h2{
    text-decoration: underline;
    color: blue;
  
}
li a{
    background-color: blue;
    color: pink;
}
p{
    text-decoration: underline;
    font-weight: bold;
}
a{
    background-color: black;
    text-decoration: underline;
    color: aliceblue;
}
a.Nenl{
    font-size: 1.5em;
    text-decoration: underline;
    color: blue;
}
ul li{
    padding: 4px;
}
footer{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    background-color: black;
    color: white;
 }
}
  /*RESPONSIVE END*/
